<form {{action "updatePost" on="submit"}}>
  <header class="intro-header" style="background-image: url('assets/images/home-bg.jpg')">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="post-heading">
                      {{textarea value=model.title }}
                      <span class="meta">Posted by <a href="#">{{model.user.email}}</a> on {{pretty-date model.created_date}}</span>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <!-- Main Content -->
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{textarea class="edit-post" value=model.body}}<br />
            
            {{input type="submit" class="btn btn-default" value="Save post"}}
            <button {{action "goToBlog" on="click" }} class="btn btn-default">Cancel</button>
          </div>
      </div>
  </div>
</form>